.card {
  margin-bottom: 15px;
}
.chipContainer {
}
.cardAction {
  justify-content: space-between;
  padding-left: 16px;
  padding-top: 4px;
  padding-bottom: 8px;
  padding-right: 16px;
}
.cardList {
  overflow-y: scroll;
  height: 90%;
}

.cameraDetailsTab {
  padding: 0;
  min-width: auto;
  opacity: 0.7;

  transition: opacity 0.3s ease-in-out;

  &.selected {
    opacity: 1;
  }

  &:hover {
    opacity: 1;
  }
}

.cameraModalImageContainer {
  position: relative;

  .actionButtonContainer {
    position: absolute;
    top: 5px;
    left: 5px;
    display: flex;
    width: 210px;
    flex-direction: column;

    button {
      margin-bottom: 10px;

      svg {
        margin-right: 4px;
      }
    }
  }
}

.legendContainer {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  gap: 10%;
  padding: 40px;

  @media screen and (max-width: 1280px) {
    width: 600px;
    flex-direction: column;
    gap: 10px;
  }
}
