.card {
  margin-bottom: 15px;
}
.chipContainer {
  width: 100%;
}
.cardAction {
  justify-content: space-between;
  padding-left: 16px;
  padding-top: 4px;
  padding-bottom: 8px;
  padding-right: 0px;
}
.cardList {
  overflow-y: scroll;
  height: 90%;
}
.details {
  display: block;
}
.cover {
  width: 30%;
  height: 183px;
}
.topCard {
  padding-bottom: 0px;
}
.headerBlock {
  display: flex;
  justify-content: space-between;
}
